*{
    margin: 0rem;
    padding: 0rem;
    
}

.text_center{
    text-align: center;
}

body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    overflow:visible;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-size: cover;
    background-position: center;

}


.container{
    width: 25rem;
    margin-top: 4rem;
    background: white;
    
}

.admin{
    border-right: 1px solid gray; 
    border-bottom: 1px solid gray;
    border-radius: 0.25rem 0 0.25rem 0;
}

.employee{
    border-left: 1px solid gray; 
    border-bottom: 1px solid gray;
    border-radius: 0 0.25rem 0 0.25rem;
}

.login-border{
    background-color: gray;
}

.remove{
    text-decoration: none;
    color: inherit; 

}
.login{
    width: 25rem;
    margin: -0.08rem 0 0 -0.85rem;

}

.login,.log{
    display: flex;
    justify-content: space-between;
}




.log{
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.5rem;
    justify-content: center;

}

.log i{
    margin: 0.5rem 0.5rem 0 0;
}


.login_container{
    margin: 1.5rem;
    display: grid;
}

.btn{
    border: none;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.btn:hover{
    
    background: darkmagenta;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

.text_box{
    padding: 1rem 0 0 0.5rem;
    width: 15rem;
    border: none;
    outline: none;
    font-size: medium;
    background: white;
}

.logo{
    padding: 0.5rem;
    text-align: center;
}


.fa-brands{
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    font-size: 30px;
}



.age select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: gray;
    cursor: pointer;
  }

.age i{
    cursor: pointer;
}


.error{
    display: none;
    padding: 0.5rem
}

