@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    margin: 0;
    padding: 0;
}


.custom-navbar{
    
    font-family: 'Poppins';
    font-size: 1rem;
}

.custom-nav-links{
    margin-left: auto;
}

.nav-item{
    margin-left: 3rem;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link:hover {
    color: white; 
    font-weight: bold;
}

.logo{
    margin-left: 0rem;
}

.add_search_Conatainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}


.searchBtn{
    margin-left: auto;
    display: flex;
}


.check{
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 0.75rem;
}



.check label{
    padding-right: 0.5rem;
    padding-left: 0.8rem;
}



.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


#successModalLabel{
    margin-left: 12rem;
    font-weight: bolder;
}

#inventory #inventoryModalLabel,
#edit_form #editProductModalLabel {
    margin-left: 10rem;
    font-weight: bolder;
}


#successModalLabel{
    color: green;
}

.icon{
    font-size: 5rem;
    text-align: center;
}

#successModalBody div{
    text-align: center;
    font-size: 1.5rem;
}

.error{
    display: none;
    padding: 0.5rem
}

#productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product{
    width: calc(33.33% - 1.25rem);
    margin: 0.5rem -1rem 1.5rem 0;
    padding: 1rem 0 1rem 0;
}

.productInfo{
    text-align: center;
    align-items: center;
    justify-content: center;
}


.edit_section{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.add_search_Conatainer{
    margin: 0rem;
}

.custom-btn {
    width: 7rem;
    text-align: center;
    color: white;
}

.custom-btn:hover{
    color: black;
}

.editBtn:hover{
    background-color: #209899;
}

#productContainer .custom-danger{
    text-align: center;
}




/* ------------------Media Query------------------ */
@media (max-width: 992px) {

    .custom-navbar{
        font-size: 2rem;
    }
    .custom-nav-links{
        text-align: center;
    }
    
    .nav-item{
        margin-left: 0rem;
    }

    .logo{
        margin: 0rem;
    }
    .product {
        width: calc(50% - 1.25rem);
    }
    .addBtn{
        display: flex;
        margin-bottom: 0.5rem;
    }

    .add_search_Conatainer{
        display: inline-block;
    }

}

@media (max-width: 768px){
    .product {
        width: calc(100% - 1.25rem);
        margin-right: 0; /* Reset margin-right for full width */
    }

    .add_search_Conatainer{
        display: grid;
    }
    
    .addBtn{
        display: flex;
        margin-bottom: 0.5rem;
    }
    
    
    
}
